<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <ul class="ul">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/menu1" routerLinkActive="active">Menu 1</a></li>
      <li><a routerLink="/menu2" routerLinkActive="active">Menu 2</a></li>
      <li><a routerLink="/menu4" routerLinkActive="active">Menu 3</a></li>
    </ul>
  </div>
</body>
</html>
<router-outlet></router-outlet>
