<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <h1>WELCOME TO OUR WEBSITE</h1>
        <div class="container">
            <h2 class="container__h2">STUDENT DETAILS</h2>
            <form class="container__form">
                <label>Name</label><input type="text" class="container__input"> <br><br>
                <label>Email</label><input type="email"class="container__input"><br><br>
                <label>Text</label><input type="text"class="container__input container__input--msg" placeholder="Enter your message here.."><br><br>
                <button (click)="btnclick()">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
